<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/superliga"
        android:label="Superliga Guru"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MatchdaysActivity"
            android:exported="false" />
        <activity android:name=".activity.LeaderboardActivity"
            android:exported="false"/>
        <activity android:name=".activity.GW1Activity"
            android:exported="false"/>
        <activity android:name=".activity.GW2Activity"
            android:exported="false"/>
        <activity android:name=".activity.GW3Activity"
            android:exported="false"/>
        <activity android:name=".activity.GW4Activity"
            android:exported="false"/>
        <activity android:name=".activity.GW5Activity"
            android:exported="false"/>
        <activity android:name=".activity.GW6Activity"
            android:exported="false"/>
        <activity android:name=".activity.GW7Activity"
            android:exported="false"/>
        <activity android:name=".activity.GW8Activity"
            android:exported="false"/>
    </application>

</manifest>